cachetools==2.0.1
certifi==2018.1.18
chardet==3.0.4
dill==0.2.7.1
firebase-admin==2.9.0
future==0.16.0
google-api-core==0.1.4
google-auth==1.4.1
google-cloud-core==0.28.0
google-cloud-firestore==0.28.0
google-cloud-storage==1.7.0
google-gax==0.15.16
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
grpcio==1.9.1
idna==2.6
japronto==0.1.1
Jinja2==2.9.6
MarkupSafe==1.0
#pkg-resources==0.0.0
ply==3.8
protobuf==3.5.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pytz==2018.3
requests==2.18.4
rsa==4.7
six==1.11.0
urllib3==1.22
uvloop==0.8.0
